/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Heebo', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bree Serif', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
@media (max-width: 800px) {
  .container {
    width: 90%;
    margin: 0 5%;
  }
}
.main-navigation {
  width: 100%;
  height: 60px;
  background: #30694B;
  position: fixed;
  z-index: 1;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navigation .nav-container .logo {
  height: 100%;
}
.main-navigation .nav-container .nav {
  display: flex;
  justify-content: space-evenly;
}
.main-navigation .nav-container .nav a {
  font-size: 1.8rem;
  color: #FFFFFF;
  text-decoration: none;
}
.main-navigation .nav-container .nav a:hover {
  font-weight: 800;
  letter-spacing: 0.02rem;
}
.footer {
  width: 100%;
  background-color: #30694B;
}
.footer p {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding: 20px;
}
.home .intro {
  padding: 0px 0px 10px;
  background-image: linear-gradient(#5AAB61, white);
  box-shadow: 10px 10px 5px #C0C0C0;
}
.home .intro img {
  max-width: 100%;
  height: auto;
}
.home .intro h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  line-height: 40px;
  background-color: white;
  opacity: 0.75;
}
.home .intro p {
  display: flex;
  justify-content: center;
}
.home .intro button {
  margin: 5% 5% 5% 30%;
  display: flex;
  justify-content: center;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 50%;
  padding-right: 1%;
  border-radius: 5px;
  border-top: 2px solid #C0C0C0;
  border-bottom: 2px solid #C0C0C0;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    border-bottom: none;
  }
}
.home .content-section .text-content p {
  margin-right: 20%;
  margin-top: 10%;
  font-size: 1.9rem;
}
@media (max-width: 800px) {
  .home .content-section .text-content p {
    margin-right: 0%;
    font-size: 1.6rem;
  }
}
.home .content-section .text-content h2 {
  margin-right: 30%;
  margin-top: 2%;
  color: #30694B;
}
@media (max-width: 800px) {
  .home .content-section .text-content h2 {
    margin: none;
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    padding: 0;
  }
  .home .content-section .text-content p {
    margin-right: 2%;
    margin-top: 2%;
  }
  .home .content-section .text-content h2 {
    margin-right: 2%;
    margin-top: 2%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    order: 0;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    order: 1;
  }
}
.home .content-bottom {
  padding-top: 30px;
  display: flex;
  height: auto;
  background-image: linear-gradient(white, #5AAB61);
  box-shadow: 10px 10px 5px #C0C0C0;
}
@media (max-width: 500px) {
  .home .content-bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .home .content-bottom {
    flex-wrap: wrap;
  }
}
.home .content-bottom .bottom-links {
  margin-bottom: 30px;
  margin-left: 30px;
}
.home .content-bottom .bottom-links a {
  color: #30694B;
  font-size: 5rem;
}
@media (max-width: 500px) {
  .home .content-bottom .bottom-links a {
    width: 80%;
    margin: 0 auto 30px;
  }
}
.getstarted-btn {
  border-radius: 4px;
  background: #25523B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.8rem;
  padding: 15px;
  width: 40%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px;
  display: inline-block;
}
.getstarted-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.getstarted-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.getstarted-btn:hover span {
  padding-right: 25px;
}
.getstarted-btn:hover span:after {
  opacity: 1;
  right: 0;
}
@media (max-width: 500px) {
  .getstarted-btn:hover span {
    font-size: 1.5rem;
  }
}
input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
}
input[type=text]:focus {
  background-color: #C0C0C0;
  outline: none;
}
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
}
input[type=password]:focus {
  background-color: #C0C0C0;
  outline: none;
}
hr {
  border: 1px solid #FFFFFF;
  margin-bottom: 25px;
}
button {
  background-color: #5AAB61;
  color: #FFFFFF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #D13648;
  float: left;
  width: 50%;
}
.signupbtn {
  float: left;
  width: 50%;
}
.signup {
  padding-top: 110px;
}
.signup h2 {
  font-size: 2.2rem;
  margin-top: 5%;
  font-weight: bold;
}
.signup h4 {
  font-size: 1.6rem;
  font-weight: bold;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 500px) {
  .cancelbtn {
    width: 100%;
  }
  .signupbtn {
    width: 100%;
  }
}
.open-button {
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  bottom: 23px;
  width: 20%;
}
.form-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  overflow: auto;
}
.form-container {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #25523B;
}
.form-container h2 {
  font-size: 2.5rem;
  margin-bottom: 10%;
}
.form-container h3 {
  font-size: 1.6rem;
}
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid #C0C0C0;
  background: #FFFFFF;
}
.form-container input[type=text]:focus {
  background: #C0C0C0;
  outline: none;
}
.form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid #C0C0C0;
  background: #FFFFFF;
}
.form-container input[type=password]:focus {
  background: #C0C0C0;
  outline: none;
}
.form-container .btn {
  background: #30694B;
  border-radius: 8px;
  color: #FFFFFF;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}
.form-container .btn:hover {
  opacity: 1;
}
@media (max-width: 500px) {
  .form-container .btn {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .form-container .btn {
    width: 100%;
  }
}
.form-container .cancel {
  background: #D13648;
}
@media (max-width: 500px) {
  .form-container .cancel {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .form-container .cancel {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .navbar {
    width: 100%;
    background-image: linear-gradient(#30694B, #5AAB61);
    margin-top: 200px;
  }
  .navbar .main-nav {
    list-style-type: none;
    display: none;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  .navbar .main-nav li {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
  }
  .navbar .main-nav li:hover {
    background: #25523B;
  }
  .navbar .nav-links {
    text-decoration: none;
  }
  .navbar .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 38px;
  }
  .navbar .active {
    display: block;
  }
}
@media (max-width: 800px) {
  .navbar {
    background-image: linear-gradient(#30694B, #5AAB61);
    margin-top: 200px;
  }
  .main-nav {
    position: relative;
  }
  .main-nav li {
    text-align: center;
    color: #FFFFFF;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  .main-nav li:hover {
    background: #25523B;
  }
  .nav-links {
    text-decoration: none;
  }
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 38px;
  }
  .active {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 60px;
  }
  .navbar-toggle {
    display: none;
  }
}
