.home {
  // padding: 10px 10px;
  
  
  .intro {
    padding: 0px 0px 10px;
    background-image: linear-gradient(@light-green, white);
    box-shadow: 10px 10px 5px @silver;
    img {
      max-width: 100%;
      height: auto;
      //box-shadow: 10px 10px 5px @silver;
    }

    h2 {
      margin-top: 5%;
      margin-bottom: 2%;
      display: flex;
      justify-content: center;
    }

    p {
      display: flex;
      justify-content: center;
    }

    button {
      margin: 5% 5% 5% 30%;
      display: flex;
      justify-content: center;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .text-content {
      width: 50%;
      padding-right: 1%;
      border-radius: 5px;
      border-top: 2px solid @silver;
      border-bottom: 2px solid @silver;
      p {
        margin-right: 20%;
        margin-top: 10%;
        font-size: 1.9rem;
      }
      h2 {
        margin-right: 30%;
        margin-top: 2%;
        color: @green;
      }
      @media @mobile {
        width: 100%;
        padding: 0;
        p {
          margin-right: 2%;
          margin-top: 2%;
        }
  
        h2 {
          margin-right: 2%;
          margin-top: 2%;
        }
      }
    }
    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
        padding: 0;
      }

      img {
        border-radius: 5px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }
  .inverse-content {
    padding-bottom: 30px;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @mobile {
        order: 0;
      }
    }
    .img-content {
      padding-right: 1%;
      padding-left: 0;

      @media @mobile {
        order: 1;
      }
    }
  }
  .content-bottom {
    padding-top: 30px;
    display: flex;
    height: auto;
    background-image: linear-gradient(white, @light-green);
    box-shadow: 10px 10px 5px @silver;

    @media @mobile {
      flex-wrap: wrap;
    }
    @media @tablet {
      flex-wrap: wrap;
    }
    .bottom-links {
      margin-bottom: 30px;
      margin-left: 30px;
      a {
        color: @green;
        font-size: 5rem;
      @media @mobile {
        width: 80%;
        margin: 0 auto 30px;
      }
    }
  }
}
} //home