
@media @mobile {
    .navbar {
        background-image: linear-gradient(@green, @light-green);
        margin-top: 200px;
    .main-nav {
        list-style-type: none;
        display: none;
        overflow: hidden;
        position: relative;
        margin: auto;
        li {
            text-align: center;
            color: @white;
            text-decoration: none;
                &:hover {
                    background: @forest-green;
                  }
        }
    }
    .nav-links {
        text-decoration: none;
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: @white;
        font-size: 38px;
    }
    .active {
        display: block;
    }
}
}

@media @tablet {
    .navbar {
        background-image: linear-gradient(@green, @light-green);
        margin-top: 200px;
    }
    .main-nav {
        list-style-type: none;
        display: none;
        overflow: hidden;
        position: relative;
        margin: auto;
        
        li {
            text-align: center;
            color: @white;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
            &:hover {
                background: @forest-green;
            }
        }
    }
    .nav-links {
        text-decoration: none;
    }
    .navbar-toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        color: @white;
        font-size: 38px;
    }
    .active {
        display: block;
    }
}

@media screen and (min-width: 800px) {
	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
        justify-content: flex-end;
        
		li {
			margin: 0;
		}
	}
	.nav-links {
		margin-left: 60px;
	}
	.navbar-toggle {
        display: none;
	}
}
