.main-navigation {
  width: 100%;
  height: 100px;
  background: @light-green;
  position: fixed;

  .nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media @mobile {
      padding-bottom: 10px;
    }

    img {
      height: 80%;
    }

    @media @mobile {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
    }

    .logo-heading {
      @media @mobile {
        margin-bottom: 0.5%;
        margin-top: 0%;
      }
    }

    .nav {
      width: 350px;
      display: flex;
      justify-content: space-evenly;

      @media @mobile {
        width: 100%;
        justify-content: space-around;
      }
      
      a {
        font-size: 1.7rem;
        color: white;
        text-decoration: none;
        &:hover {
          font-weight: 800;
          
        }
      }
    }
  }
} 